body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }

  img {
    background: none;
  }
  
  h1 {
    margin-top: 20px;
  }
  
  #gameCanvas {
    border: 2px solid #000;
    background-color: #000;
    display: block;
    margin: 0 auto;
  }
  
  #highScoresOverlay {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 600px; /* Match canvas width */
    height: 600px; /* Match canvas height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: #00FF00;
    font-family: 'Press Start 2P', cursive;
    font-size: 18px; /* Reduce font size slightly */
    text-align: center;
    z-index: 10;
    opacity: 1;
    transition: opacity 0.5s;
    overflow: hidden; /* Prevent overflow */
}

.game-over-message {
    color: #FF0000; /* Red text */
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}
  
  .hidden {
    display: none;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  
  #highScoreList {
    margin-top: 20px;
  }